.form {
  padding: 24px 40px;
  width: 50%;
  margin: auto;
  min-height: 100%;
  @media screen and (max-width: 1024px) {
    padding: 24px 16px;
    margin: 0;
    width: 100%;
  }
  label {
    display: block;
    margin-bottom: 8px;
  }
  input {
    display: block;
    margin-bottom: 24px;
    width: 100%;
  }
  button {
    width: 100%;
    background-color: black;
    color: white;
  }
}
